<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách người dùng</title>
    <link rel="stylesheet" href="public/css/style.css">
    
</head>
<body>
    <h1>Danh sách người dùng</h1>
    <table>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Email</th>
            <th>Thao tác</th>
        </tr>
        <tr>
            <td>1</td>
            <td>UPUN</td>
            <td>ATW@gmail.com</td>
            <td><a href="view.html">View</a> | Edit | Delete</td>
        </tr>
    </table>
</body>
</html>
